@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  position: relative;
  width: 100%;
  overflow-x: hidden !important;
}
a {
  color: inherit;
  text-decoration: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 19px;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #AD7EFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #AD7EFF;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.category::-webkit-scrollbar {
  display: none;
}

.dropdown{
  height:0px;
  transition: 2s;
}
.dropOpen{
  height: 232px;
  transition: 2s;
}